$font_primary: 'Roboto', sans-serif;

$color_primary: #e8505b;
$color_secondary: #455a64;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_light: #eceeef;

$separator: 5rem;

$media_tel: 480px;
$media_tablet: 768px;
$media_desktop: 1024px;
$media_desktop_xl: 1440px;
